#migration-analytics {
  margin-top: 15px;

  &.row.cards-pf {
    margin-top: 0;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    height: 100%;
  }

  &.cards-pf .blank-slate-pf {
    border: none;

    .blank-slate-pf-icon {
      opacity: 0.4;
    }
  }

  .large-spinner {
    padding: 50px;
    text-align: center;

    .spinner,
    h3 {
      vertical-align: middle;
    }

    h3 {
      display: inline-block;
      margin: 0;
      padding-left: 10px;
    }
  }

  .reports-summary {
    .environment-summary {
      margin-left: 16px;
    }

    table {
      padding-top: 10px;

      td {
        padding: 5px 32px;
      }
    }

    .list-view-pf-expand {
      margin-top: 25px;
    }
  }

  .footer-buttons button {
    margin-right: 10px;
  }

  .data-collection-status {
    display: flex;
    justify-content: center;
    padding: 50px;

    > div {
      display: inline-block;
      margin: 0 8px;
    }

    .checkmark {
      font-size: 48px;
      margin-top: 10px;
      color: $color-pf-green;
    }

    h3.beside-spinner {
      margin: 8px 0 30px 0;
    }

    .buttons {
      margin-top: 20px;

      button {
        display: block;
        margin: 15px 0;
      }
    }
  }
}
