#migration-analytics {
  margin-top: 15px;

  &.row.cards-pf {
    margin-top: 0;
    overflow: auto;
    overflow-x: hidden;
    padding-bottom: 50px;
    height: 100%;
  }

  &.cards-pf .blank-slate-pf {
    border: none;

    .blank-slate-pf-icon {
      opacity: 0.4;
    }
  }

  .large-spinner {
    padding: 50px;
    text-align: center;

    .spinner,
    h3 {
      vertical-align: middle;
    }

    h3 {
      display: inline-block;
      margin: 0;
      padding-left: 10px;
    }
  }

  .reports-summary {
    .environment-summary {
      margin-left: 16px;
    }

    table {
      padding-top: 10px;

      td {
        padding: 5px 32px;
      }
    }

    .list-view-pf-expand {
      margin-top: 25px;
    }
  }

  .footer-buttons button {
    margin-right: 10px;
  }

  .manifest-version {
    text-align: right;
    padding: 35px;
  }
}
