%br
%img{:src => image_path('100/demo.png')}
%br
<p>
Below are 3 components implemented using 3 different libraries.
All receive messages from the toolbar buttons above.
</p>

-# angular 1
%hello

-# React
#hallo_react

= javascript_pack_tag 'miq_plugin_example/hallo_react'

-# angular 2+
%hello-angular
= javascript_pack_tag 'miq_plugin_example/angular2-example'

:javascript
  miq_bootstrap('hello');
  window.bind_me();

