<!DOCTYPE html>
<html>
<head>
  <title>Red Hat Migration Analytics</title>
  <%= stylesheet_link_tag    "cfme-migration_analytics/application", media: "all" %>
  <%= javascript_include_tag "cfme-migration_analytics/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
