<!DOCTYPE html>
<html>
<head>
  <title>Miq plugin example</title>
  <%= stylesheet_link_tag    "miq_plugin_example/application", media: "all" %>
  <%= javascript_include_tag "miq_plugin_example/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
