= stylesheet_link_tag 'cfme/migration_analytics/application'
= javascript_pack_tag 'cfme-migration_analytics/migration_analytics'

.container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden; height: 100%;"}
  = yield
